* {
    background-color: rgba(32,33,36,1);
}

h1, h2, p, a, li {
    font-family: arial,sans-serif;
    font-size: 20px;
    line-height: 26px;
    color: #BDC1C6;
}

h1 {
    font-size: 28px;
    line-height: 38px;
    color: #F28B82;
}

h2 {
    font-size: 24px;
    line-height: 28px;
}

.container {
    margin: 0 auto;
    width: 1400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: dotted 2px green;
}

.section-top {
    width: 100%;
    height: 10vh;
    min-height: 50px;
    display: flex;
    justify-content:flex-end;
    border: dashed 1px yellow;
}

.section-top-advanced {
    width: 100%;
    height: 10vh;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    border: dashed 1px yellow;
}

.logo-advanced {
    margin-left: 30px;
    height: auto;
    /* width: 100%; */
    aspect-ratio: 272/92;
    border: dashed 1px red;
}

.menu {
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    border: dashed 1px red;
}

.menu li {
    margin-left: 30px;
    display: inline-block;
    border: dashed 1px blue;
}

.menu a {
    text-decoration: none;
}

.menu a:hover {
    color: #8AB4F8;
    text-decoration:underline;
}

.query {
    margin: 0 auto;
    width: auto;
    max-width: 60%;
    border: dashed 1px blue;
}

.logo {
    margin: 0 auto;
    height: 92px;
    width: 272px;
    border: dashed 1px red;
}

.logo-img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    width: auto;
}

.search-frame-rounded {
    display: block;
    padding: 0 20px;
    width: 100%;
    height: 48px;
    border-radius: 24px;
    border: 1px solid #5f6368;
}

.search-input {
    margin: 0;
/* word-wrap: break-word;
    display: flex; */
    height: 100%;
    width: 100%;
    /* flex: 100%; */
    font-size: 24px;
    border: dotted 1px red;
    background-color: transparent;
    color: white;
}

.query-advanced {
    display: block;
    width: auto;
    padding: 0 100px;
    border: solid 1px blue;
}

.search-advanced {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.search-advanced-inst {
    min-width: 350px;
    display: block;
    border: 1px solid green;
}

.search-advanced-query {
    display: block;
    padding: 0 20px;
    width: 600px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid greenyellow;
}

.query-advanced-btns {
    height: 92px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.query-btns {
    height: 92px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: #303134;
    border: 1px solid #303134;
    border-radius: 4px;
    color: #e8eaed;
    margin: 11px 4px;
    padding: 0 16px;
    font-size: 20px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.btn-advanced {
    background-color: #8AB4F8;
    border: 1px solid #8AB4F8;
    border-radius: 4px;
    color: #e8eaed;
    margin: 11px 4px;
    padding: 0 16px;
    font-size: 20px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.section-bottom {
    width: 100%;
    height: 10vh;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: dashed 1px yellow;
}

@media (max-width: 1399px) {
    .container {
        margin: 0;
        width: auto;
    } 
}